* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #EBEBEB;
	width: 80%;
	margin: auto;
	padding: 20px;
}

input:invalid, textarea:invalid, select:invalid, input:required, textarea:required, select:required { 
    border: 1px solid red !important;
} /*

input:valid, textarea:valid { 
    border: 1px solid green !important;
} */

.form_row, .dynamic_block {
	display: flex;
	padding: 7px;
}

.form_row label, .dynamic_block label {
	text-align: right;
	padding-right: 30px;
	padding-top: 8px;
	width: 40%;
}

i {
	color: #696969;
}

.icons {
	border: 1px solid #A9A9A9;
	padding: 8px 7px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.entries {
	width: 20%;
	padding: 3px 8px;
	border: 1px solid #A9A9A9;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#state_selector {
	background: white;
}

select {
	width: 100%;
	padding: 5px 8px;
	border: none;
	border-color: white;
}

.form_row input[type='radio'], .dynamic_block input[type='radio'] {
    width: 20px;
    height: 15px;
}

#desc_icon {
	padding: 13px 7px;
}

button {
	background-color: #EC9932;
	padding: 5px 10px;
	color: #FFFFFF;
	border-style: none;
	border-radius: 10%;
	justify-content: flex-start;
}

button i {
	color: white;
	padding: 0px 5px;
}