<!DOCTYPE html>
<html xmlns:th = "www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

	<style>
		.container {
			margin: 5% auto;
			width: 50%;
			padding: 5%;
			box-shadow: 5px 5px 5px grey;
			border-radius: 12px;
			background-color: lightgrey;
		}
		
		.table {
			background-color: white;
			padding: 5%;
			margin: 3% 0%;
		}
		
		th, td {
		    padding: 10px;
		}
	</style>
	
<title>Skills</title>
</head>
<body>
	<div align="center" class="container">
		<div th:if="${not #lists.isEmpty(skillMaster)}">
        <h2>Skills</h2>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Skill</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each = "skill : ${skillMaster}">
					<td th:text="${skill.skillId}">Id</td>
					<td th:text="${skill.skillName}">Skill</td>
					<td><a th:href="@{'../admin/skills/edit?skillId='+${skill.skillId}}">Edit</a></td>
					<td><a th:href="@{'../admin/skills/delete?skillId='+${skill.skillId}}">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div align="center">
		<a th:href="@{../admin/skills/add}">Add a Skill </a><br/>
	</div>
	
	<hr />
	<p align="center"><a th:href="@{dashboard}">Go to dashboard</a></p>
	<p align="center"><a th:href="@{logout}">Logout</a></p>
</body>
</html>