<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Job</title>
</head>
<body>
	<form name="addJobForm" method="post" th:object="${job}"
		th:action="@{addJob}">
		<table>
			<tr>
				<td><input type="hidden" th:field="*{jobCode}" th:value="*{jobCode}" />
				</td>
			</tr>
			<tr>
				<td>Job Title:</td>
				<td><input type="text" th:field="*{jobTitle}"
					th:value="*{jobTitle}" /></td>
			</tr>

			<tr>
				<td><input type="submit" value="submit" /></td>
			</tr>
			<tr><td></td>
				<td th:text="${message}">Id</td>
			</tr>
		</table>
	</form>
</body>
</html>