<!DOCTYPE html>
<html xmlns:th = "www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

	<style>
		.container {
			margin: 5% auto;
			width: 20%;
			padding: 5%;
			box-shadow: 5px 5px 5px grey;
			border-radius: 12px;
			background-color: lightgrey;
		}
		
		.table {
			background-color: white;
			padding: 5%;
			margin: 3% 0%;
		}
		
		th, td {
		    padding: 10px;
		}
		
		hr {
			width: "80%"
		}
		
		.addJob * {
			margin: 3%;
		}
	</style>
	
<title>Job Titles</title>
</head>
<body>
	<div align="center" class="container">
		<div class="addJob">
			<form th:action="@{JobTitles/add}" method="post">
				<label>Job title</label>
				<input type="text" name="jobTitle" required="required"> <br/>
				<input type="submit" value="Add new Job Title">
			</form>
		</div>
		<hr/>
		<div th:if="${not #lists.isEmpty(jobTitleMaster)}">
        <h2>Jobs</h2>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Title</th>
				</tr>
				<tr th:each = "jobTitle : ${jobTitleMaster}">
					<td th:text="${jobTitle.jobCode}">Id</td>
					<td th:text="${jobTitle.jobTitle}">title</td>
				</tr>
			</table>
		</div>
	</div>
	
	<hr />
	<p align="center"><a th:href="@{dashboard}">Go to dashboard</a></p>
	<p align="center"><a th:href="@{logout}">Logout</a></p>
</body>
</html>